div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 250px;
    height: 100px;
}

button {
    border: 0; 
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;

}