
<ViewRenderFragment Order="0">
    <MainContent>
        <div class="mainViewContent view4">
            <h1>
                Ich bin etwas anders
            </h1>
        </div>
    </MainContent>
    <Widgets>
        <div class="viewWidget4"><h2>Hhahaow</h2></div>
        <div class="viewWidget4"><h2>ellweewwoe</h2></div>
        <div class="viewWidget4"><h2>sjwjejwj</h2></div>
    </Widgets>
</ViewRenderFragment>