.inspectorContainer {
    display: grid;
    grid-template-columns: 1fr 50px 300px;
    width: 100%;
    justify-items: center;
}

.mainView {
    height: 100%;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
}