<div class="inspectorContainer">
    <div class="mainView">
        @MainView
    </div>
    <div class="toolbar">
        @Widgets
    </div>
    <div class="details">
        @Details
    </div>
</div>