<MainOverview>
    <ViewRenderFragment Order="4">
        <MainContent>
            <div class="mainViewContent view1">
                Test 1
            </div>
        </MainContent>
        <Widgets>
            <div class="viewWidget1">Widget 1</div>
            <div class="viewWidget1">Widget 2</div>
        </Widgets>
    </ViewRenderFragment>
    <ViewRenderFragment Order="2">
        <MainContent>
            <div class="mainViewContent view2">
                Test 2
            </div>
        </MainContent>
        <Widgets>
            <div class="viewWidget2">Widget 1</div>
            <div class="viewWidget2">Widget 2</div>
            <div class="viewWidget2">Widget 3</div>
            <div class="viewWidget2">Widget 4</div>
            <div class="viewWidget2">Widget 5</div>
        </Widgets>
    </ViewRenderFragment>
    <ViewRenderFragment Order="3">
        <MainContent>
            <div class="mainViewContent view3">
                Test 3
            </div>
        </MainContent>
        <Widgets>
            <div class="viewWidget3">Widget 1</div>
            <div class="viewWidget3">Widget 2</div>
            <div class="viewWidget3">Widget 3</div>
        </Widgets>
    </ViewRenderFragment>
    <DummyViewContent />
    <ViewType Order="1"
              MainContentType="@(typeof(ImageComponent))"
              MainContentTypeParameters="@(new() { { nameof(ImageComponent.Width), "1000px" }, { nameof(ImageComponent.Height), "1000px" } })"
              AlternativeContentTypeParameters="@(new() { { nameof(ImageComponent.Width), "100px" }, { nameof(ImageComponent.Height), "100px" } })">
        <Widgets>
            <button>Ich bin ein Button</button>
            <button>Ich bin auch ein Button</button>
        </Widgets>
    </ViewType>
</MainOverview>